# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Use 2 spaces for data-centric files
[{*.css,*.less,*.json,*.yml,*.yaml,*.js,*.jsx,*.ts,*.tsx,*.html,*.rb}]
indent_style = space
indent_size = 2
